{% load i18n %}
{% load staticfiles %}
<footer>
  <div class="top-footer" style="background:#f5f5f5;color:black">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 footer-logo">
            <figure><a href="#"><img style="width:30%" class="img-responsive" src={% static "images/logo_delivery.png" %} alt="Footer logo" /></a></figure>
        </div>
        <div class="col-xs-12 col-sm-2 footer-social-links pull-right hidden-md hidden-lg hidden-xs">
            <ul>
                <li><a href="#"><i class="fa fa-facebook hvr-wobble-top"></i></a></li>
                <!--<li><a href="#"><i class="fa fa-twitter hvr-wobble-top"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus hvr-wobble-top"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram hvr-wobble-top"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr hvr-wobble-top"></i></a></li>-->
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 footer-menu">
            <div class="row" style="color:black !important">
                <div class="col-xs-12 col-sm-3 footer-links-col">
                    <span>{% trans "Acerca" %}</span>
                    <ul>
                        <li><a style="color:black" href="/acerca">{% trans "Nosotros" %}</a></li>
                        <li><a style="color:black" href="/contacto">{% trans "Contactanos" %}</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 footer-links-col">
                    <span>{% trans "Terminos" %}</span>
                    <ul>
                        <li><a style="color:black" href="#"></a></li>
                        <li><a style="color:black" href="#">Terminos y Condiciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 footer-social-links pull-right hidden-sm">
            <ul>
                <li><a href="#"><i class="fa fa-facebook hvr-wobble-top"></i></a></li>
                <!--<li><a href="#"><i class="fa fa-twitter hvr-wobble-top"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus hvr-wobble-top"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram hvr-wobble-top"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr hvr-wobble-top"></i></a></li>-->
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer" style="background:#d8d8d8;">
      <div class="container">
          <div class="copyright-text text-center">&copy; 2017 Syscall Systems S de RL. Derechos Reservados.</div>
      </div>
  </div>
</footer>
