{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}

{% block payment_details %}

<div class='food-tab wow fadeInUp step3'>
    <div class='container'>
      <div class="top-description">
          <h5 class="text-uppercase wow fadeInUp text-center">FORMA DE PAGO</h5>
      </div>
      <div class="payment-method-block">
        <div class="row text-center select-payment-btns">
            <div class="col-xs-12 col-sm-4 wow fadeInLeft select-payment-btn">
                  <a href="#efectivo" role="tab" data-toggle="tab" class="hvr-wobble-horizontal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="25" viewBox="0 0 39 25">
                        <path xmlns="http://www.w3.org/2000/svg" fill="#60ba62" id="Credit_Card_Icon" data-name="Credit Card Icon" d="M4.875,15.054H22.311v1.194H4.875V15.054Zm0,3.444h6.6v1.194h-6.6V18.5ZM35.939,0H3.06A3.033,3.033,0,0,0,0,3V22a3.032,3.032,0,0,0,3.06,3H35.939A3.033,3.033,0,0,0,39,22V3A3.034,3.034,0,0,0,35.939,0ZM3.06,1.194H35.939A1.825,1.825,0,0,1,37.781,3V4.922H1.219V3A1.825,1.825,0,0,1,3.06,1.194ZM37.781,6.116v4.028H1.219V6.116H37.781ZM35.939,23.806H3.06A1.825,1.825,0,0,1,1.219,22V11.337H37.781V22A1.825,1.825,0,0,1,35.939,23.806Z"/>
                    </svg>
                    <span>EFECTIVO</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 wow fadeInUp select-payment-btn">
                <a href="#tarjeta" role="tab" data-toggle="tab" class="hvr-wobble-horizontal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31">
                        <path id="Paypal_icon" data-name="Paypal icon" fill="#60ba62" d="M19.472,0H5.979L0,27.606H7.919l1.939-9.148h5.656A11.049,11.049,0,0,0,26.663,9.4C28.034,2.935,23.428,0,19.472,0Zm-5.9,13.172h-2.58l1.7-7.552h3.878a2.673,2.673,0,0,1,2.668,1.968,2.817,2.817,0,0,0-.513-0.081H14.841ZM19.229,9.4a4.954,4.954,0,0,1-4.379,3.762l0.928-4.142h3.515A3.8,3.8,0,0,1,19.229,9.4Zm9.59,1.886a8.454,8.454,0,0,0-.372-5.272c1.283,1.54,1.948,3.773,1.31,6.781a11.05,11.05,0,0,1-11.149,9.062H12.951L11.012,31H3.094l0.329-1.509h6.652l1.939-9.147H17.67A11.048,11.048,0,0,0,28.818,11.282Z"/>
                    </svg>
                    <span>TARJETA</span>
                </a>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="display:none;">
            <li role="presentation" class="active">
              <a href="#efectivo" role="tab" data-toggle="tab" class="hvr-wobble-horizontal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31">
                      <path id="Paypal_icon" data-name="Paypal icon" fill="#60ba62" d="M19.472,0H5.979L0,27.606H7.919l1.939-9.148h5.656A11.049,11.049,0,0,0,26.663,9.4C28.034,2.935,23.428,0,19.472,0Zm-5.9,13.172h-2.58l1.7-7.552h3.878a2.673,2.673,0,0,1,2.668,1.968,2.817,2.817,0,0,0-.513-0.081H14.841ZM19.229,9.4a4.954,4.954,0,0,1-4.379,3.762l0.928-4.142h3.515A3.8,3.8,0,0,1,19.229,9.4Zm9.59,1.886a8.454,8.454,0,0,0-.372-5.272c1.283,1.54,1.948,3.773,1.31,6.781a11.05,11.05,0,0,1-11.149,9.062H12.951L11.012,31H3.094l0.329-1.509h6.652l1.939-9.147H17.67A11.048,11.048,0,0,0,28.818,11.282Z"/>
                  </svg>
                  <span>Efectivo</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#tarjeta" role="tab" data-toggle="tab" class="hvr-wobble-horizontal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="39" height="25" viewBox="0 0 39 25">
                      <path xmlns="http://www.w3.org/2000/svg" fill="#60ba62" id="Credit_Card_Icon" data-name="Credit Card Icon" d="M4.875,15.054H22.311v1.194H4.875V15.054Zm0,3.444h6.6v1.194h-6.6V18.5ZM35.939,0H3.06A3.033,3.033,0,0,0,0,3V22a3.032,3.032,0,0,0,3.06,3H35.939A3.033,3.033,0,0,0,39,22V3A3.034,3.034,0,0,0,35.939,0ZM3.06,1.194H35.939A1.825,1.825,0,0,1,37.781,3V4.922H1.219V3A1.825,1.825,0,0,1,3.06,1.194ZM37.781,6.116v4.028H1.219V6.116H37.781ZM35.939,23.806H3.06A1.825,1.825,0,0,1,1.219,22V11.337H37.781V22A1.825,1.825,0,0,1,35.939,23.806Z"/>
                  </svg>
                  <span>Tarjeta</span>
              </a>
            </li>
        </ul>
    </div>
</div>
<div class='tab-description'>
    <div class="container">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active payment-form" id="efectivo">
              <form method="post" action="{% url 'checkout:preview' %}" enctype="application/x-www-form-urlencoded" class="form-stacked">
                  {% csrf_token %}
                    <input type="hidden" name="tipo" value="efectivo">
                    <fieldset style="display:none">
                        <label></label>
                        <input type="text" name="" />
                    </fieldset>
                    <fieldset style="display:none">
                        <label></label>
                        <input type="text" name="" />
                    </fieldset>
                    <fieldset>
                      <label>Total a Pagar: </label>
                      <input type="text" name="totalapagar" readonly value="{{basket.total_incl_tax}}" />
                    </fieldset>
                    <fieldset>
                        <label>Con cuanto pagaras?</label>
                        <input type="text" name="efectivo" placeholder="500.00" />
                    </fieldset>
                    <fieldset style="display:none">
                        <label></label>
                        <input type="text" name="" placeholder="0000-0000-0000-0000"/>
                    </fieldset>
                    <fieldset style="display:none">
                        <label></label>
                        <input type="text" name="" placeholder="0000-0000-0000-0000"/>
                    </fieldset>
                    <div class="clear"></div>
                    <fieldset>
                        <input class="btn btn-x-big hvr-wobble-horizontal" type="submit" value="TERMINAR" />
                    </fieldset>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane fade in payment-form" id="tarjeta">
              <form method="post" enctype="application/x-www-form-urlencoded" action="{% url 'checkout:preview' %}" class="form-stacked">
                  {% csrf_token %}
                    <input type="hidden" name="tipo" value="tarjeta">
                    <p style="font-size:1.4em;font-weight:bolder;color:black;">Nosotros te llamaremos para confirmar tu pago con tarjeta.</p>
                    <fieldset style="display:none">
                        <label>Nombre</label>
                        <input type="text" name="ccName" />
                    </fieldset>
                    <fieldset style="display:none">
                        <label>Numero de Tarjeta</label>
                        <input type="text" name="ccNumber" placeholder="0000-0000-0000-0000"/>
                    </fieldset>
                    <div class="clear"></div>
                    <fieldset style="display:none">
                        <label>Mes</label>
                        <select name="ccMonth">
                            <option>Seleccione Mes</option>
                            <option>ENERO</option>
                            <option>FEBRERO</option>
                            <option>MARZO</option>
                            <option>ABRIL</option>
                            <option>MAYO</option>
                            <option>JUNIO</option>
                            <option>JULIO</option>
                            <option>AGOSTO</option>
                            <option>SEPTIEMBRE</option>
                            <option>OCTUBRE</option>
                            <option>NOVIEMBRE</option>
                            <option>DICIEMBRE</option>
                        </select>
                    </fieldset>
                    <fieldset style="display:none">
                        <label>Año</label>
                        <select name="ccYear">
                            <option>Seleccione Año</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                        </select>
                    </fieldset>
                    <fieldset style="display:none">
                        <label>CVV</label>
                        <input type="text" name="ccCCV" />
                    </fieldset>
                    <fieldset>
                        <input class="btn btn-x-big hvr-wobble-horizontal" type="submit" value="TERMINAR" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
